In [5]:
import pandas as pd
df = pd.read_csv('month_data.csv')

In [6]:
column=[]
for i in df.columns[1:]:
    column.append(i)
column.append('train')
column

['date', 'year', 'month', 'price', 'volumn']

In [18]:
new_df = []
for i in df.values:
    new_i=[]
    if i[2] <= 2016:
        for val in i[1:]:
            new_i.append(val)
        new_i.append('0')
    else:
        for val in i[1:]:
            new_i.append(val)
        new_i.append('1')
    new_df.append(new_i)

In [19]:
new_df  = pd.DataFrame(new_df,columns=column)
new_df = new_df.dropna()
new_df

        date    year  month  price   volumn
0    1999-01  1999.0    1.0   20.3    230.3
1    1999-02  1999.0    2.0   27.7   2248.7
2    1999-03  1999.0    3.0   15.8  18235.1
3    1999-04  1999.0    4.0   11.2  26201.8
4    1999-05  1999.0    5.0    8.6  27782.8
..       ...     ...    ...    ...      ...
211  2016-08  2016.0    8.0   22.8  24319.6
212  2016-09  2016.0    9.0   13.9  13089.0
213  2016-10  2016.0   10.0   15.6   1695.3
214  2016-11  2016.0   11.0   25.2    512.7
215  2016-12  2016.0   12.0   18.3   1546.2

[216 rows x 5 columns]

In [20]:
new_df.to_csv('month_data_org.csv',encoding='utf-8-sig',index=False)